<h3><strong>All Companies</strong></h3>

<div class="new">
  <%= link_to "Create New Company", new_company_path %>
</div>

<ul>
  <% @companies.each do |company| %>
  <p class=company_<%= company.id %>>
    <strong><%= link_to company.name, company_path(company) %>:</strong><br>
    <%= link_to "Edit", edit_company_path(company) %>
    <%= link_to "Delete", company_path(company), method: "delete" %>
  </p>
  <% end %>
</ul>
