<h1><strong>All Categories</strong></h1>

<div class="new">
  <%= link_to "Create New Category", new_category_path %>
</div>

<% @categories.each do |category| %>
  <div class=<%= category.title %>>
    <p>
      <strong>  <%= link_to category.title, category_path(category) %></strong><br>
      <%= link_to "Delete", category_path(category), method: :delete,
      data: {confirm: "Do you really wanna delete the category?"}%>
      <%= link_to "Edit", edit_category_path(category)%>
    </p>
  </div>
<% end %>
